* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #75B6D6;
}
#baralho {
    height: 250px;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.carta {
    width: 150px;
    height: 150px;
    margin: 10px 30px 60px;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
}
.frente, .verso {
    width: 150px;
    height: 200px;
    position: absolute;
    border-radius: 5px;
    border: 5px solid black;
    cursor: pointer;
}
.carta.virada {
    transform: rotateY(180deg);
}
.frente {
    transform: rotateY(180deg);
}
.verso {
    backface-visibility: hidden;
}
#mensagem {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: larger;
    -webkit-text-stroke-width: thin;
}